In [4]:
import pandas as pd
import datetime

In [10]:
current_year_month = datetime.datetime.today().strftime("%Y%m")
URL = f"https://home.treasury.gov/resource-center/data-chart-center/interest-rates/daily-treasury-rates.csv/all/{current_year_month}?type=daily_treasury_yield_curve&field_tdr_date_value_month={current_year_month}&page&_format=csv"
df = pd.read_csv(URL)

most_recent_row = df.iloc[0]
most_recent_row['1 Mo']/100

0.0239

In [8]:
df.columns

Index(['Date', '1 Mo', '2 Mo', '3 Mo', '6 Mo', '1 Yr', '2 Yr', '3 Yr', '5 Yr',
       '7 Yr', '10 Yr', '20 Yr', '30 Yr'],
      dtype='object')

In [11]:
import pandas as pd
from zipfile import ZipFile
import requests
import io

url = "https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/ftp/F-F_Research_Data_5_Factors_2x3_CSV.zip"
csv_filename = "F-F_Research_Data_5_Factors_2x3.csv"

# zf = ZipFile(url) 
# df = pd.read_csv(zf.open(csv_filename))

In [15]:

df

    Unnamed: 0    Mkt-RF       SMB       HML       RMW       CMA        RF
0       196307     -0.39     -0.44     -0.89      0.68     -1.23      0.27
1       196308      5.07     -0.75      1.68      0.36     -0.34      0.25
2       196309     -1.57     -0.55      0.08     -0.71      0.29      0.27
3       196310      2.53     -1.37     -0.14      2.80     -2.02      0.29
4       196311     -0.85     -0.89      1.81     -0.51      2.31      0.27
..         ...       ...       ...       ...       ...       ...       ...
763       2017     21.51     -6.12    -13.51      4.72    -11.54      0.80
764       2018     -6.95     -5.17     -9.80     -1.33      0.06      1.83
765       2019     28.28     -6.19    -10.20      4.26     -3.19      2.15
766       2020     23.66      3.16    -46.46     -5.16    -11.74      0.45
767       2021     23.56     -1.11     25.55     26.73     11.56      0.04

[768 rows x 7 columns]