In [1]:
import pandas as pd
import portfolio_analysis
import pandas

In [5]:
df = pd.read_csv("RWMHX.csv")
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1259 non-null   object
 1   Open       1259 non-null   float64
 2   High       1259 non-null   float64
 3   Low        1259 non-null   float64
 4   Close      1259 non-null   float64
 5   Adj Close  1259 non-null   float64
 6   Volume     1259 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB
None

         Date       Open       High        Low      Close  Adj Close  Volume
0  2017-08-07  43.529999  43.529999  43.529999  43.529999  32.409184       0
1  2017-08-08  43.490002  43.490002  43.490002  43.490002  32.379402       0
2  2017-08-09  43.540001  43.540001  43.540001  43.540001  32.416630       0
3  2017-08-10  43.060001  43.060001  43.060001  43.060001  32.059269       0
4  2017-08-11  43.080002  43.080002  43.080002  43.080002  32.074146       0

In [6]:
df["ln_returns"] = portfolio_analysis.get_ln_returns(df["Adj Close"])

In [7]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,ln_returns
0,2017-08-07,43.529999,43.529999,43.529999,43.529999,32.409184,0,NaN
1,2017-08-08,43.490002,43.490002,43.490002,43.490002,32.379402,0,-0.000919
2,2017-08-09,43.540001,43.540001,43.540001,43.540001,32.416630,0,0.001149
3,2017-08-10,43.060001,43.060001,43.060001,43.060001,32.059269,0,-0.011085
4,2017-08-11,43.080002,43.080002,43.080002,43.080002,32.074146,0,0.000464
...,...,...,...,...,...,...,...,...
1254,2022-08-01,52.939999,52.939999,52.939999,52.939999,52.939999,0,-0.003959
1255,2022-08-02,52.580002,52.580002,52.580002,52.580002,52.580002,0,-0.006823
1256,2022-08-03,53.180000,53.180000,53.180000,53.180000,53.180000,0,0.011347
1257,2022-08-04,53.049999,53.049999,53.049999,53.049999,53.049999,0,-0.002448
1258,2022-08-05,53.130001,53.130001,53.130001,53.130001,53.130001,0,0.001507