In [1]:
import pandas as pd
import portfolio_analysis
import numpy as np

In [2]:
df = pd.read_csv("RWMHX.csv")
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1259 non-null   object
 1   Open       1259 non-null   float64
 2   High       1259 non-null   float64
 3   Low        1259 non-null   float64
 4   Close      1259 non-null   float64
 5   Adj Close  1259 non-null   float64
 6   Volume     1259 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB
None

         Date       Open       High        Low      Close  Adj Close  Volume
0  2017-08-07  43.529999  43.529999  43.529999  43.529999  32.409184       0
1  2017-08-08  43.490002  43.490002  43.490002  43.490002  32.379402       0
2  2017-08-09  43.540001  43.540001  43.540001  43.540001  32.416630       0
3  2017-08-10  43.060001  43.060001  43.060001  43.060001  32.059269       0
4  2017-08-11  43.080002  43.080002  43.080002  43.080002  32.074146       0

In [3]:
df["ln_returns"] = portfolio_analysis.get_ln_returns(df["Adj Close"])

In [6]:
sharpe_ratio  = portfolio_analysis.sharpe_ratio(returns = df["ln_returns"],risk_free_rate=np.log(1) )

0.0003929252145170827 0.0 0.012274586580703664

In [7]:
sharpe_ratio

0.03201127890814531